/**Variables colores**/
/**Variable fuentes**/
/**Defino fuentes**/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
/**Valores generales **/
* {
  font-family: 'Roboto Condensed', sans-serif;
  list-style: none; }

body {
  background-color: #f5f5f5e1; }

p {
  font-size: 1rem; }

.textUnderline {
  text-decoration: underline #700370; }

.bg-skins {
  background-color: #e5e2e2; }

.btn {
  color: white;
  background-color: #700370; }

/**Termina valores generales**/
/***Empieza nav***/
.navbar {
  background-color: black; }
  .navbar div a img {
    width: 8.50em; }
  .navbar div .navbar-nav .nav-link {
    color: white; }
  .navbar .navbar-nav .nav-link:hover {
    color: #700370;
    transition: .4s;
    cursor: pointer; }

/***Termina nav***/
/****Index****/
/***Informacion del sitio***/
.textInfo {
  color: #700370;
  font-weight: 600; }

/***Skins mas buscadas ***/
/****Tienda****/
/***Skins***/
main .card {
  background-color: #f5f5f5e1;
  padding: .5em; }
  main .card a {
    text-decoration: none;
    color: black; }
  main .card a:hover {
    text-decoration: underline #700370; }
  main .card img {
    padding: 1.5em;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 #700370;
    cursor: pointer; }

/***nav tienda***/
.input {
  border: none;
  background: none;
  outline: 0;
  border-bottom: 1px solid #700370;
  cursor: pointer;
  width: 9.5em;
  margin-bottom: 1em; }

.titulo-tienda {
  color: #700370; }

.tienda-links {
  text-decoration: none;
  color: grey; }

.tienda-links:hover {
  text-decoration: underline #700370;
  color: grey; }

/****Termina tienda****/
/*** Footer ***/
footer {
  background-color: black; }
