@import "_variables.scss";
@import "_fonts.scss";
/**Valores generales **/
*{
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
}
body{
    background-color: $bg-body;
}
p{
    font-size: $fontP;
}
.textUnderline{
    text-decoration: underline $pink;
}
.bg-skins{
    background-color: $bgSkins;
}
.btn{
    color: white;
    background-color: $pink;
    
}

/**Termina valores generales**/
@import "_nav.scss";
@import "_index";
@import "_store";
@import "_footer.scss";
